@import '/src/styles.scss';

.experience-details {
	padding: 5% 0 20% 0;
  h3 {
    font-size: 25px;
    font-weight: bold;
  }
}


@media screen and (max-width: 1920px)
{

}

@media screen and (max-width: 768px)
{

}

@media screen and (max-width: 600px)
{
  .experience-details{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}
