@import '/src/styles.scss';

.inputs {
    .custom-input {
        position: relative;
    }
    i {
        position: absolute;
        font-size: 19px;
        top: 12px;
        left: 15px;
        color: $gray;
    }
}

.form-control {
    padding-left: 45px;
}