<div class="container">
    <form class="inputs pt-4" [formGroup]="programForm">
        <div class="form-group custom-input">
            <i class="fas fa-envelope"></i>
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group custom-input">
            <i class="fas fa-lock"></i>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group custom-input">
            <i class="far fa-check-circle"></i>
            <input type="password" class="form-control"  formControlName="confirmPassword" placeholder="Confirm Password">
        </div>
    </form>

    <button class="rounded-btn mt-4" (click)="updatePassword()">Update Password</button>
</div>