@import '/src/styles.scss';

.login {
	padding: 5% 0;
	img {
		width: 35%;
		height: auto;
	}
	.forgot-btn {
		a {
			color: $lightDefault;
			font-size: 17px;
		}
	}
  .new-account {
    padding-top: 35px;
    span {
      color: $black;
      font-size: 15px;
    }
    a {
      font-weight: 600;
      font-size: 16px;
      padding-left: 2px;
      color: $black;
    }
  }
}
