<div class="forgot">
    <div class="container">

        <div class="col-12 text-center">
            <img src="../../../../assets/img/logo.png">
        </div>

        <h5>Forgot Your Password?</h5>
        <p>To recover your password, you need to enter your registerted email address. We will sent the recovery code to your email</p>

        <form class="pt-3">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>

            <button type="submit" class="btn btn-warning w-100" >SEND</button>
        </form>

    </div>
</div>
