@import '/src/styles.scss';

.forgot{
    padding: 5% 0;
}

.forgot img{
    width: 40%;
    height: auto;
}

.forgot h5{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5%;
}

.forgot p{
    text-align: center;
    font-size: 14px;
    color: gray;
    padding: 5% 4% 0px 4%;
}