<div class="news-listing">
  <div class="container">
    <div class="row top-head">
      <div class="col-9">
        <p>Wednesday, November 29</p>
        <h1>Top News</h1>
      </div>
      <div class="col-3">
        <img src="../../../../assets/img/man.jpg">
      </div>
    </div>
    <div class="cards-scrollmenu">
      <div class="news-card">
        <img src="../../../../assets/img/course5.jpg">
        <p>STARTUPS</p>
        <h1>Top startups that are the changing the way we travel</h1>
      </div>
    </div>

    <hr>

    <div class="recent-news">
      <div class="head pb-2 d-flex justify-content-between">
        <h4>Recent News</h4>
        <a>See All</a>
      </div>
      <div class="row recent-cards pt-3">
        <div class="col-6">
          <img src="../../../../assets/img/course5.jpg">
          <p>STARTUPS</p>
          <h1>Top startups that are the changing the way we travel</h1>
        </div>
        <div class="col-6">
          <img src="../../../../assets/img/course5.jpg">
          <p>STARTUPS</p>
          <h1>Top startups that are the changing the way we travel</h1>
        </div>
      </div>
      <div class="row recent-cards pt-3">
        <div class="col-6">
          <img src="../../../../assets/img/course5.jpg">
          <p>STARTUPS</p>
          <h1>Top startups that are the changing the way we travel</h1>
        </div>
        <div class="col-6">
          <img src="../../../../assets/img/course5.jpg">
          <p>STARTUPS</p>
          <h1>Top startups that are the changing the way we travel</h1>
        </div>
      </div>
    </div>
  </div>
</div>
