@import '/src/styles.scss';

.experience-listing {
	padding: 20px 0 25px 0;
	h3 {
		font-size: 25px;
		font-weight: bold;
	}
  .card{
    .card-body{
      h6{
        cursor: pointer;
      }
    }
  }
}
