<div class="news-details">
  <div class="main-img">
    <img src="../../../../assets/img/course2.jpg">
    <i class="fas fa-heart"></i>
    <i class="fas fa-share-alt"></i>
  </div>
  <div class="container">
    <div class="row title-time">
      <div class="col-12 d-flex">
        <span><strong>STARTUPS</strong></span>
        <p>Wednesday, November 29</p>
      </div>
    </div>
    <div class="row content">
      <div class="col-12">
        <h3>What is Python? Powerful, intuitive programming</h3>
        <p>The most basic use case for Python is as a scripting and automation language. Python isn’t just a replacement for shell scripts or batch files; it is also used to automate interactions with web browsers or application GUIs or to do system provisioning and configuration. <br>
          Scripting and automation represent only the tip of the iceberg with Python. You can create both command-line and cross-platform GUI applications with Python.
        </p>
      </div>
    </div>
  </div>
</div>
