<div class="test-detail">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="row head-bar">
          <div class="col-6">
              <h6>Tests 1</h6>
              <small>Due: 14/4/2021</small>
          </div>
          <div class="col-6">
              <a href="#" class="chip-icon-btn">
                <i class="fas fa-plus"></i>
                Add
              </a>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="main">
          <div class="inner">
            <h5>Q1: Please select your gender?</h5>

            <div class="select-radio">
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="male" name="gender" value="male">
              <label for="other">Other</label>
            </div>
          </div>

          <div class="inner">
            <h5>Q1: Please select your gender?</h5>

            <div class="select-radio">
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="male" name="gender" value="male">
              <label for="other">Other</label>
            </div>
          </div>

          <div class="inner">
            <h5>Q1: Please select your gender?</h5>

            <div class="select-radio">
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="male" name="gender" value="male">
              <label for="other">Other</label>
            </div>
          </div>

          <div class="inner">
            <h5>Q1: Please select your gender?</h5>

            <div class="select-radio">
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="male" name="gender" value="male">
              <label for="other">Other</label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
