@import '/src/styles.scss';

.test-detail {
	padding: 20px 0;
	.head-bar {
		h6 {
			font-size: 19px;
		}
	}
	.main {
		padding-top: 15px;
	}
	.inner {
		padding-top: 20px;
		h5 {
			font-size: 17px;
		}
		.select-radio {
			padding-top: 10px;
		}
	}
	.select-radio {
		label {
			padding-left: 7px;
			font-size: 17px;
		}
	}
}


@media screen and (max-width: 1920px)
{

}

@media screen and (max-width: 768px)
{

}

@media screen and (max-width: 600px)
{
  .test-detail{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}
