<div class="test-detail">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="row head-bar">
          <div class="col-6">
              <h6>Tests 1</h6>
              <small>Due: 14/4/2021</small>
          </div>
          <div class="col-6">
              <a href="#" class="chip-icon-btn">
                <i class="fas fa-plus"></i>
                Add
              </a>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="main">
          <div class="inner">
            <h5>Q1: Please select your paper?</h5>

            <div class="select-radio">
              <input type="radio" id="app development" name="paper" value="app development">
              <label for="app development">App Development</label><br>
              <input type="radio" id="python language" name="paper" value="python language">
              <label for="python language">Python Language</label><br>
              <input type="radio" id="graphic design" name="paper" value="graphic design">
              <label for="graphic design">Graphic Design</label>
            </div>
          </div>

          <div class="inner">
            <h5>Q2: Please select your gender?</h5>

            <div class="select-radio">
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="male" name="gender" value="male">
              <label for="other">Other</label>
            </div>
          </div>

          <div class="inner">
            <h5>Q3: Please select your Course Code?</h5>

            <div class="select-radio">
              <input type="radio" id="cs119" name="code" value="cs119">
              <label for="cs119">CS 169</label><br>
              <input type="radio" id="as111" name="code" value="as111">
              <label for="as111">AS 131</label><br>
              <input type="radio" id="qa356" name="code" value="qa356">
              <label for="qa356">QA 356</label>
            </div>
          </div>

          <a class="rounded-btn w-100 mt-4">Sumbit Test</a>
        </div>
      </div>

    </div>
  </div>
</div>
