<div class="studies-details">
  <div class="container">

      <div class="col-12">
          <div class="row">
              <div class="col-6 px-0">
                  <h3>Studies</h3>
              </div>

              <div class="col-6 px-0">
                  <a href="#"><i class="fas fa-plus"></i></a>
              </div>
          </div>
      </div>

      <form class="pt-5">
          <div class="form-group">
              <label>School</label>
              <input type="name" class="form-control" placeholder="School">
          </div>

          <div class="form-group">
              <label>Degree</label>
              <input type="name" class="form-control" placeholder="Degree">
          </div>

          <div class="form-group">
              <label>Field Of Study</label>
              <input type="name" class="form-control" placeholder="Degree">
          </div>

          <div class="form-group">
              <label>Start Year</label>
              <input type="number" class="form-control" placeholder="Start Year">
          </div>

          <div class="form-group">
              <label>End Year</label>
              <input type="number" class="form-control" placeholder="End Year">
          </div>

          <div class="form-group">
              <label>Grade</label>
              <input type="name" class="form-control" placeholder="Grade">
          </div>

          <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="4" placeholder="Description"></textarea>
          </div>

          <button type="submit" class="btn btn-primary w-100 mt-4" >Update</button>
      </form>

  </div>
</div>
