<div class="studies-details">
  <div class="container">

    <div class="row pb-4">
      <div class="col-6">
          <h3>Studies</h3>
      </div>
      <div class="col-6">
          <a href="#" class="chip-icon-btn">
            <i class="fas fa-plus"></i>
            Add
          </a>
      </div>
    </div>


    <form class="pt-3">
        <div class="form-group">
            <label>School</label>
            <input type="name" class="form-control" placeholder="School">
        </div>

        <div class="form-group">
            <label>Degree</label>
            <input type="name" class="form-control" placeholder="Degree">
        </div>

        <div class="form-group">
            <label>Field Of Study</label>
            <input type="name" class="form-control" placeholder="Degree">
        </div>

        <div class="form-group">
            <label>Start Year</label>
            <input type="number" class="form-control" placeholder="Start Year">
        </div>

        <div class="form-group">
            <label>End Year</label>
            <input type="number" class="form-control" placeholder="End Year">
        </div>

        <div class="form-group">
            <label>Grade</label>
            <input type="name" class="form-control" placeholder="Grade">
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="4" placeholder="Description"></textarea>
        </div>

        <a class="rounded-btn w-100 mt-4" >Update</a>
    </form>

  </div>
</div>
