@import '/src/styles.scss';

.studies-details {
	padding: 5% 0 20% 0;
	h3 {
		font-size: 25px;
		font-weight: bold;
	}
}

@media screen and (max-width: 600px)
{
  .studies-details{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}
