@import '/src/styles.scss';

.chat-detail {
  position: relative;
	.card-inner {
		padding-top: 15px;
		.avatar {
			img {
				width: 50px;
				height: 50px;
				border-radius: 50px;
			}
		}
		.left-msg {
			background-color: #d5efd5;
			font-size: 14px;
			padding: 12px 10px;
			border-radius: 8px;
		}
		.right-msg {
			background-color: aquamarine;
			font-size: 14px;
			padding: 12px 10px;
			border-radius: 8px;
		}
	}
  .chat-msg{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 65px;
    background: white;
    padding: 10px 0px 0 40px;
    box-shadow: 0px 0px 10px #00000014;
    .icon-send{
      position: relative;
      i{
        position: absolute;
        top: 2px;
        left: -5px;
        font-size: 17px;
        padding: 11px 12px 11px 9px;
        color: $white;
        border-radius: 40px;
        background-color: #1edc9c;
        border-radius: 40px;
      }
    }
  }
}

.form-control{
  border-radius: 40px;
}

@media screen and (max-width: 768px)
{
  .chat-detail{
    .chat-msg{
      padding: 10px 25px;
    }
  }
}

@media screen and (max-width: 600px)
{
  .chat-detail{
    .chat-msg{
      padding: 10px;
    }
  }
}
