<div class="chat-detail">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-msg">
    <div class="row">
      <div class="col-10 pr-0">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Type a message">
          </div>
        </form>
      </div>

      <div class="col-2">
        <div class="icon-send">
         <a href="#"><i class="fas fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
