<div class="chat-detail">
  <div class="row">
    <div class="col-12">
      <div class="row head-bar">
        <div class="col-4">
          <div class="left">
            <i class="fas fa-arrow-left"></i>
          </div>
        </div>

        <div class="col-8">
          <div class="center">
            <h4>Jacy Semth</h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/profile.png">
              </div>
            </div>
            <div class="col-9 pl-0">
              <p class="left-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>
          </div>
        </div>

        <div class="card-inner">
          <div class="row">
            <div class="col-9 pr-0">
              <p class="right-msg">In publishing and graphic design, Lorem ipsum is a placeholder.</p>
            </div>

            <div class="col-3">
              <div class="avatar">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
