@import '/src/styles.scss';

.courses {
	padding: 5% 0 20% 0;
	h3 {
		font-size: 25px;
		font-weight: bold;
	}
	a {
		float: right;
	}
	i {
		font-size: 25px;
		color: $lightDefault;
		&:hover {
			color: orange;
			transition: 0.5s;
			opacity: 0.5s;
		}
	}
	.main-inner {
		padding-top: 5%;
		.inner {
			padding-top: 5%;
		}
	}
	.inner {
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			object-position: center;
		}
		h6 {
			font-weight: bold;
			font-size: 18px;
		}
		p {
			color: $gray;
			font-size: 15px;
			padding-top: 5px;
			font-weight: bold;
		}
		.list {
			span {
				font-size: 14px;
				color: $gray;
				padding: 0px 7px 0 2px;
			}
		}
	}
}