@import '/src/styles.scss';

.startup {
	padding: 5% 0;
	img {
		width: 52%;
		height: auto;
	}
  .btns {
    padding-top: 18%;
    a {
      color: white;
      font-size: 18px;
      i {
        color: white;
        font-size: 20px;
        float: left;
        position: relative;
        top: 3px;
        left: 20px;
      }
    }
  }
  .new-account {
    padding-top: 28px;
    span {
      color: $black;
      font-size: 15px;
    }
    a {
      font-weight: 600;
      font-size: 16px;
      padding-left: 2px;
      color: $default;
    }
  }
}
