@import '/src/styles.scss';

.courses {
	padding: 5% 0 20% 0;
	h3 {
		font-size: 25px;
		font-weight: bold;
	}
	a {
    color: $white;
    font-size: 16px;
    border: 1px solid $lightDefault;
    background-color: $lightDefault;
    border-radius: 20px;
    padding: 5px 10px;
    i {
      font-size: 15px;
      padding-right: 8px;
      color: $white;
      position: relative;
      top: 4px;
    }
	}
	.card-body {
    .img-sec {
      img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
      }
    }
    .content-sec {
      .head {
        h6 {
          font-weight: bold;
          font-size: 18px;
        }
        p {
          color: $gray;
          font-size: 15px;
        }
      }
      .list {
        span {
          font-size: 14px;
          color: $gray;
        }
        p {
          font-size: 14px;
          color: $gray;
        }
      }
    }
	}
}
