@import '/src/styles.scss';

.privacy-policy {
	padding: 20px 0;
	img {
    width: 15%;
		height: auto;
	}
	p {
		font-size: 15px;
		color:  $lightDefault;
	}
  h6{
    font-size: 20px;
    font-weight: bold;
  }
}


@media screen and (max-width: 1920px)
{

}

@media screen and (max-width: 768px)
{
  .privacy-policy {
    img {
      width: 20%;
    }
  }
}

@media screen and (max-width: 600px)
{

}

