<div class="privacy-policy">
  <div class="container">
      <div class="row">

          <div class="col-12 text-center">
              <img src="../../../../assets/img/logo.png">
          </div>

          <div class="col-12">
            <h6 class="pt-4">Privacy Policy</h6>
          </div>

          <div class="col-12">
              <p class="pt-3">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
          </div>

          <div class="col-12">
            <p class="pt-3">I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth. the master-builder of human happiness. it is pleasure but how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
          </div>

          <div class="col-12">
              <p class="pt-3">No again is there anyone who loves or pursues or desires to obtain pain of itself because it is pain but because occasionally in which toil and pain can procure him some great pleasure. </p>
          </div>

      </div>
  </div>
</div>
