@import '/src/styles.scss';

.signup {
	padding: 5% 0 16% 0px;
	img {
		width: 40%;
		height: auto;
	}
	.conditions {
		padding-top: 5%;
		p {
			font-size: 15px;
			color:  $lightDefault;
			padding: 0 13%;
			text-align: center;
		}
		a {
			color: #ffa098;
    		text-decoration: revert;
		}
	}
}