@import '/src/styles.scss';

.profile {
	padding: 5% 0px 18% 0;
	.avatar {
		text-align: center;
		img {
			width: 120px;
			height: 120px;
		}
		h3 {
			font-size: 22px;
			padding-top: 10px;
		}
	}
	.inputs {
		.custom-input {
			position: relative;
		}
		i {
			position: absolute;
			font-size: 19px;
			color: $lightDefault;
			top: 7px;
			left: 15px;
			color: $gray;
		}
	}
	.form-control {
		padding-left: 45px;
	}
	.list-group {
		a {
			display: flex;
			justify-content: space-between;
			color: $gray;
		}
	}
	.support {
		padding-top: 6%;
		h6 {
			font-size: 23px;
			font-weight: bold;
		}
		a {
			font-size: 16px;
			padding-top: 10px;
			display: block;
			cursor: pointer;
			color: $gray;
			&:hover {
				color: $orange;
				transition: 0.5s;
				opacity: 0.5s;
			}
		}
	}
}

