@import '/src/styles.scss';

.profile {
	padding: 20px 0px 35px 0;
	.avatar {
		text-align: center;
    cursor: pointer;
    .add-img {
      img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 0 10px #e7e7e7;
        border-radius: 25px;
      }
    }
		h3 {
      &.heading {
        font-size: 22px;
			  padding-top: 18px;
      }
		}
	}
	.inputs {
		.custom-input {
			position: relative;
		}
		i {
			position: absolute;
			font-size: 19px;
			top: 12px;
			left: 15px;
			color: $gray;
		}
	}
	.form-control {
		padding-left: 45px;
	}
	.list-group {
		a {
			display: flex;
			justify-content: space-between;
			color: $gray;
			border: 1px solid #cac9c9;
		}
		i{
			font-size: 15px;
			color: $gray;
			padding-top: 5px;
		}
	}
	.support {
		padding-top: 20px;
		h6 {
			font-size: 23px;
			font-weight: bold;
		}
		a {
			font-size: 16px;
			padding-top: 10px;
			display: block;
			cursor: pointer;
			color: $gray;
			&:hover {
				color: $orange;
				transition: 0.5s;
				opacity: 0.5s;
			}
		}
	}
}

@media screen and (max-width: 600px)
{
  .profile{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}

