<div class="question-answer-cards">
  <div class="container">
    <div class="row">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</h2>
          </div>
          <div class="flip-box-back">
            <h2>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
