<div class="terms-conditions">
    <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 col-md-10 col-lg-10">
            <div class="col-12 text-center">
              <img src="../../../../assets/img/logo.png">
            </div>

            <div class="col-12">
              <h6 class="pt-4">Terms Conditions</h6>
            </div>

            <div class="col-12">
                <p class="pt-3">There are many variations of passages of Lorem Ipsum available. or one who avoids a pain that produces no resultant pleasure.</p>
            </div>

            <div class="col-12">
              <p class="pt-3">But the majority have suffered alteration in some form or randomised words which don't look even slightly believable. and expound the actual teachings of the great explorer of the truth the master-builder of human happiness. </p>
            </div>

            <div class="col-12">
                <p class="pt-3">Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
            </div>
          </div>

        </div>
    </div>
</div>
