@import '/src/styles.scss';

.terms-conditions {
	padding: 20px 0;
	img {
		width: 15%;
		height: auto;
	}
	p {
		font-size: 15px;
		color:  $lightDefault;
	}
  h6{
    font-size: 20px;
    font-weight: bold;
  }
}


@media screen and (max-width: 768px)
{
  .terms-conditions {
    img {
      width: 20%;
    }
  }
}
