@import '/src/styles.scss';

.course-detaisl {
  .top-section {
    background: $default;
    padding: 12px 0;
    .course-heading {
      h3 {
        font-size: 20px;
        font-weight: 500;
        color: $white;
      }
    }
    .review {
      padding-top: 6px;
      span {
        &.fa-star {
          padding-right: 5px;
          font-size: 14px;
          color: $white;
        }
        &.checked {
          color: orange;
        }
        &.rating {
          padding-left: 13px;
          font-size: 15px;
        }
      }
    }
    .teacher {
      padding-top: 10px;
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
        border-radius: 50px;
      }
      a {
        font-size: 16px;
        color: $white;
      }
      p {
        border-radius: 20px;
        padding: 5px;
        margin-top: 5px;
      }

    }
    .buy-btn {
      a {
        border-color: $white;
        background: $white;
        color: #0059b2;
        font-weight: 600;
      }
    }
  }
  .info {
    .scroll-section {
      overflow: auto;
      white-space: nowrap;
      padding: 10px 0;
      ul {
        display: flex;
        margin-bottom: 0px;
        list-style: none;
        padding-left: 0px;
        li {
          padding: 5px 9px;
          &.active {
            border-bottom: 2px solid $blue;
          }
          a {
            text-decoration: none;
            color: #717171;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
    .about {
      h6 {
        font-size: 17px;
        font-weight: 500;
        color: $black;
      }
      p {
        &.views {
          padding-top: 4px;
          font-size: 13px;
          color: #717171;
        }
        &.content {
          padding-top: 12px;
          color: $black;
          font-size: 15px;
        }
      }
      a {
        margin-top: 18px;
      }
    }
    .instructor {
      .teacher {
        .teacher-info {
          padding-top: 9px;
          img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            object-position: center;
            border-radius: 50px;
          }
          a {
            font-size: 16px;
            color: $black;
          }
          p {
            font-size: 13px;
            color: #717171;
          }
        }
      }
    }
    .reviews {
      .review-inner{
        padding: 10px 0;
        h4{
          font-size: 30px;
          color: orange;
          font-weight: bold;
        }
        span {
          &.fa-star {
            padding-right: 5px;
            font-size: 13px;
            color: $black;
          }
          &.checked {
            color: orange;
          }
        }
        p {
          &.checked {
            color: $black;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      .left {
        span {
          font-size: 15px;
          color: $black;
        }
      }
      .right {
        span {
          float: right;
          font-size: 15px;
          color: $black;
        }
      }
    }
    .comments{
      padding: 5px 0 20px 0;
      .comment-inner{
        margin-top: 5%;
        span {
          &.fa-star {
            padding-right: 5px;
            font-size: 13px;
            color: $black;
          }
          &.checked {
            color: orange;
          }
        }
        h6{
          padding-top: 5px;
          font-weight: bold;
          font-size: 14px;
        }
        p{
          padding-top: 15px;
          font-size: 15px;
        }
      }
    }
    .faq{
      .faq-inner{
        h6{
          font-size: 25px;
          font-weight: bold;
        }
        p{
          font-size: 15px;
          padding-top: 10px;
        }
      }
    }
    .classes {
      .head-bar {
        position: relative;
        h6 {
          font-size: 18px;
          font-weight: 500;
          color: $black;
          position: absolute;
          top: 10px;
        }
      }
      .card-body {
        p {
          font-size: 18px;
          color: $black;
        }
        i {
          font-size: 17px;
          position: relative;
          top: 5px;
          color: $gray;
        }
      }
    }
    .tests {
      .head-bar {
        position: relative;
        h6 {
          font-size: 18px;
          font-weight: 500;
          color: $black;
          position: absolute;
          top: 10px;
        }
      }
      .card-body {
        p {
          font-size: 18px;
          color: $black;
        }
        i {
          font-size: 17px;
          position: relative;
          top: 20px;
        }
      }
    }
  }
}

.progress {
  border-radius: 30px;
  position: relative;
  top: 3px;
  .progress-bar {
    border-radius: 30px;
  }
}
