<div class="course-detaisl">
  <div class="top-section">
    <div class="container">
      <div class="row">
        <div class="col-12 course-heading">
          <h3>App Development</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="rating checked"><strong>3.5 Rating</strong></span>
        </div>
      </div>
      <div class="row teacher">
        <div class="col-3">
          <img src="../../../../assets/img/man.jpg">
        </div>
        <div class="col-9 pl-0">
          <a>Yaakov Chaikin</a>
          <p class="badge badge-success">Most Popular in App development</p>
        </div>
      </div>
      <div class="buy-btn pt-3">
        <a class="rounded-btn w-50">Buy Now</a>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="container">
      <div class="row scroll-section">
        <ul>
          <li>
            <a (click)="opentab(1)">About</a>
          </li>
          <li>
            <a (click)="opentab(2)">Instructor</a>
          </li>
          <li>
            <a (click)="opentab(3)">Reviews</a>
          </li>
          <li>
            <a (click)="opentab(4)">Comments</a>
          </li>
          <li>
            <a (click)="opentab(5)">FAQ</a>
          </li>
          <li>
            <a (click)="opentab(6)">Classes</a>
          </li>
          <li>
            <a (click)="opentab(7)">Tests</a>
          </li>
        </ul>
      </div>

      <div class="row pt-2" *ngIf="tab==1">
        <div class="col-12 about">
          <h6>About this Course</h6>
          <p class="views"><strong>1509 recent views</strong></p>
          <p class="content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>

      <div class="instructor pt-2" *ngIf="tab==2">
        <div class="row">
          <div class="col-12">
            <h6>Instructor</h6>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="rating checked"><strong>3.5 Rating</strong></span>
          </div>
          </div>
        </div>
        <div class="teacher">
          <div class="row teacher-info">
            <div class="col-3">
              <img src="../../../../assets/img/man.jpg">
            </div>
            <div class="col-9 pl-0">
              <a>Yaakov Chaikin</a>
              <p>Adjunct Professor, Graduate Computer Science</p>
            </div>
          </div>
          <div class="teacher-details">
            <ul>
              <li>
                <p>
                  <i class="far fa-user"></i>
                  231 Students
                </p>
              </li>
              <li>
                <p>
                  <i class="far fa-copy"></i>
                  02 Lectures
                </p>
              </li>
              <li>
                <p>
                  <i class="fab fa-github"></i>
                  GitHub
                </p>
              </li>
              <li>
                <p>
                  <i class="fab fa-youtube"></i>
                  YouTube
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="reviews pt-2" *ngIf="tab==3">
        <div class="row review-inner">
          <div class="col-3">
            <h4>4.8</h4>
          </div>

          <div class="col-9">
            <div class="review-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <p class="checked">4.8 Rating</p>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-3">
            <div class="left">
              <span>5 stars</span>
            </div>
          </div>
          <div class="col-7 px-0">
            <div class="middel">
              <div class="progress">
                <div class="progress-bar" style="width:90%"></div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="right">
              <span>95%</span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <div class="left">
              <span>4 stars</span>
            </div>
          </div>
          <div class="col-7 px-0">
            <div class="middel">
              <div class="progress">
                <div class="progress-bar" style="width:75%"></div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="right">
              <span>75%</span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <div class="left">
              <span>3 stars</span>
            </div>
          </div>
          <div class="col-7 px-0">
            <div class="middel">
              <div class="progress">
                <div class="progress-bar" style="width:50%"></div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="right">
              <span>50%</span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <div class="left">
              <span>2 stars</span>
            </div>
          </div>
          <div class="col-7 px-0">
            <div class="middel">
              <div class="progress">
                <div class="progress-bar" style="width:25%"></div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="right">
              <span>25%</span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <div class="left">
              <span>1 stars</span>
            </div>
          </div>
          <div class="col-7 px-0">
            <div class="middel">
              <div class="progress">
                <div class="progress-bar" style="width:10%"></div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="right">
              <span>10%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="comments pt-2" *ngIf="tab==4">

      </div>

      <div class="faq pt-2" *ngIf="tab==5">

      </div>

      <div class="classes pt-2" *ngIf="tab==6">
        <div class="row head-bar">
          <div class="col-6">
              <h6>Classes</h6>
          </div>
          <div class="col-6">
              <a href="#" class="chip-icon-btn">
                <i class="fas fa-plus"></i>
                Add
              </a>
          </div>
        </div>
        <div class="card mt-3" routerLink="/course-management/class-details">
          <div class="card-body p-3 d-flex justify-content-between">
              <p>Class 1</p>
              <i class="fas fa-arrow-right text-muted"></i>
          </div>
        </div>
      </div>

      <div class="tests pt-2" *ngIf="tab==7">
        <div class="row head-bar">
          <div class="col-6">
              <h6>Tests</h6>
          </div>
          <div class="col-6">
              <a href="#" class="chip-icon-btn">
                <i class="fas fa-plus"></i>
                Add
              </a>
          </div>
        </div>
        <div class="card mt-3" routerLink="/course-management/test-details">
          <div class="card-body p-3 d-flex justify-content-between">
              <p>Test 1</p>
              <i class="fas fa-arrow-right text-muted"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
