<div class="course-detaisl">
  <div class="top-section">
    <div class="container">
      <div class="row">
        <div class="col-12 course-heading">
          <h3>App Development</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="rating checked"><strong>3.5 Rating</strong></span>
        </div>
      </div>
      <div class="row teacher">
        <div class="col-3">
          <img src="../../../../assets/img/man.jpg">
        </div>
        <div class="col-9 pl-0">
          <a>Yaakov Chaikin</a>
          <p class="badge badge-success">Most Popular in App development</p>
        </div>
      </div>
      <div class="buy-btn pt-3">
        <a class="rounded-btn w-50">Buy Now</a>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="container">
      <div class="row scroll-section">
        <ul>
          <li>
            <a>About</a>
          </li>
          <li>
            <a>Instructor</a>
          </li>
          <li>
            <a>Reviews</a>
          </li>
          <li>
            <a>Comments</a>
          </li>
          <li>
            <a>FAQ</a>
          </li>
        </ul>
      </div>
      <!-- <div class="row">
        <div class="col-12 about">
          <h6>About this Course</h6>
          <p class="views"><strong>1509 recent views</strong></p>
          <p class="content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div> -->
      <!-- <div class="instructor">
        <div class="row">
          <div class="col-12">
            <h6>Instructor</h6>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="rating checked"><strong>3.5 Rating</strong></span>
          </div>
          </div>
        </div>
        <div class="teacher">
          <div class="row teacher-info">
            <div class="col-3">
              <img src="../../../../assets/img/man.jpg">
            </div>
            <div class="col-9 pl-0">
              <a>Yaakov Chaikin</a>
              <p>Adjunct Professor, Graduate Computer Science</p>
            </div>
          </div>
          <div class="teacher-details">
            <ul>
              <li>
                <p>
                  <i class="far fa-user"></i>
                  231 Students
                </p>
              </li>
              <li>
                <p>
                  <i class="far fa-copy"></i>
                  02 Lectures
                </p>
              </li>
              <li>
                <p>
                  <i class="fab fa-github"></i>
                  GitHub
                </p>
              </li>
              <li>
                <p>
                  <i class="fab fa-youtube"></i>
                  YouTube
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="row reviews">
        <div class="col-3">
          <div class="left">
            <span>5 stars</span>
          </div>
        </div>
        <div class="col-7">
          <div class="middel">
            <div class="bar"></div>
          </div>
        </div>
        <div class="col-2">
          <div class="right">
            <span>100%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
