@import '/src/styles.scss';

.detail{
  padding: 20px 0;
}

.detail .video video{
  width: 100%;
  height: auto;
}

.detail .detail-inner{
  margin-top: 20px;
}

.detail .detail-inner h3{
  font-weight: bold;
  font-size: 30px;
}

.detail .detail-inner h6{
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
}

.detail .detail-inner p{
  padding-top: 5px;
  font-size: 15px;
  color: $gray;
}

.detail .comments {
  padding: 30px 0;
}

.detail .comments h5{
  font-size: 17px;
  font-weight: bold;
}

.detail .comments img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.detail .comments h6{
  font-size: 15px;
  font-weight: bold;
}

.detail .comments p{
  padding: 10px 0 3px 0;
  font-size: 14px;
}

.detail .comments a{
  font-size: 15px;
}


