<div class="detail">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="video">
          <video controls>
            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="col-12">
        <div class="detail-inner">
          <h3>Class 1</h3>
          <h6>Description</h6>
          <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which don't look even slightly believable.</p>
        </div>
      </div>

      <div class="col-12">
        <div class="comments">
          <h5>Comments</h5>

          <div class="row  mt-4">
            <div class="col-2 ">
              <img src="../../../../assets/img/man.jpg">
            </div>

            <div class="col-10">
              <h6>John Semth</h6>
              <small>14-March-2020</small>
            </div>

            <div class="col-12">
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <a href="#">Reply</a>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-2 ">
              <img src="../../../../assets/img/profile.png">
            </div>

            <div class="col-10">
              <h6>Adom Joy</h6>
              <small>19-April-2021</small>
            </div>

            <div class="col-12">
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <a href="#">Reply</a>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-2 ">
              <img src="../../../../assets/img/man.jpg">
            </div>

            <div class="col-10">
              <h6>John Semth</h6>
              <small>14-March-2020</small>
            </div>

            <div class="col-12">
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <a href="#">Reply</a>
            </div>
          </div>

          <div class="question mt-4">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Type Your Comment Here!"></textarea>
              </div>
            </form>
          </div>

          <a class="rounded-btn w-100 mt-4">Add Comment</a>
        </div>
      </div>

    </div>
  </div>
</div>
