<div class="chat">
  <div class="row">

    <div class="col-12">
      <div class="head-bar d-flex justify-content-between">
        <div class="left">
          <a href="#"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="center">
          <h4>Message</h4>
        </div>

        <div class="right">
          <a routerLink="/message/new-chat"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card-inner" *ngFor="let item of data" routerLink="/message/chat-details">
            <div class="row">
              <div class="col-3 col-md-1">
                <img src="{{item.image}}">
              </div>

              <div class="col-9">
                <div class="row d-flex justify-content-between">
                  <h6>{{item.name}}</h6>
                  <small>{{item.time}}</small>
                </div>
                <div class="row">
                  <p>{{item.message}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
